/* body{
	height: 4000px;
} */


/* header  */
.header-main {
	color: white;
	background-color: #ff6900;
	z-index: 3;
	position: fixed;
	width: 100%;
	
}

.header-nav {
	display: flex;
	flex-grow: 1;
	line-height: 30px;
}

.header-nav>* {
	flex-basis: 20%;
	padding: 5px 10px;
	padding: 1rem;
	
}

.logo{
	max-height: 2rem;
}

.header-logo {
	flex-grow: 1;
	text-align: center;
}

.header-links ul li {
	list-style: none;
	display: inline;
}


.header-links ul li a {
	color: white;
	text-decoration: none;
}

.header-symbol {
	text-align: right;

}






/* main  */

.row{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	row-gap: 30px;

}

.col{
	width: 30%;
	position: relative;
}


main .container{
	padding-top: 8rem;
	padding-bottom: 4rem;
}

/* badge */
.block-badge{
	position: absolute;
	left: 0;
	bottom: 6rem;
	display: block;
	
}
.discount-badge{
	background-color: #ff0000;
}

.block-badge>*{
	padding: 0.4rem 0.6rem;
	border-radius: 1rem;
}

.eco-badge{
	background-color: #008000;
}

.hearts{
	position: absolute;
	right: 0;
	top: 1rem;
	background-color: white;
	font-size: 3rem;
	padding: 0.4rem 1rem;
	display: block;
}

.block-badge, .hearts{
	z-index: 2;
}

.hearts:hover{
	color: #ff0000;
}


/* image  */

.other-image{
	display: none;

}

.col:hover .main-image{
	display: none;
	
}

.col:hover .other-image{
	display: block;
}


/* prezzi */
.etichetta h4{
	font-weight: bold;
	font-size: 1.2rem;
}

.col-prezzo .prezzo-scontato{
	color: #ff0000;
	font-weight: bold;
}

.col-prezzo .prezzo-normale{
	text-decoration: line-through;
}




/* footer  */


footer{
	background-color: #1a1a1a;
	color: white;
}

.container-footer {
	display: flex;
	max-width: 80%;
	margin: 0 auto;
	padding-top: 2rem;
	padding-bottom: 2rem;
	justify-content: space-between;
}


/* footer scritte */

.footer-link h3{
	font-size: 1.5rem;
	font-weight: bold;
}
	
.footer-link ul li {
	list-style: none;
	display: inline;
}
	
	
.footer-link ul li a {		
	color: white;
	text-decoration: none;

}

.footer-link .dove-trovare{
	font-weight: bold;
	font-size: 1.4rem;
}